<div class="container">
    <div class="row d-md-flex align-items-center">
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="7">0</strong>
                    <span>Company</span>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="23">0</strong>
                    <span>Complete Projects</span>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="151">0</strong>
                    <span>Happy Customers</span>
                </div>
            </div>
        </div>
        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
                <div class="text">
                    <strong class="number" data-number="12">0</strong>
                    <span>Certifications</span>
                </div>
            </div>
        </div>
    </div>
</div>