{% extends 'base_front_office.html.twig' %}

{% block title %}Issam LAMMRI{% endblock %}

{% block body %}
    <head>
        <title>Issam LAMMRI</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    {% include 'navbar.html.twig' %}
    <section id="home-section" class="hero">
        {% include 'home/page_cover.html.twig' %}
    </section>

    <section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
        {% include 'home/about_me.html.twig' %}
    </section>

    <section class="ftco-section ftco-no-pb" id="resume-section">
        {% include 'home/resume.html.twig' %}
    </section>

    <section class="ftco-section" id="services-section">
        {% include 'home/services.html.twig' %}
    </section>


    <section class="ftco-section" id="skills-section">
        {% include 'home/skills.html.twig' %}
    </section>

    <section class="ftco-section ftco-project" id="projects-section">
        {% include 'home/projects.html.twig' %}
    </section>


    <section class="ftco-section" id="blog-section">
        {% include 'home/blogs.html.twig' %}
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
        {% include 'home/counter.html.twig' %}
    </section>

    <section class="ftco-section ftco-hireme img margin-top" style="background-image: url({{ asset('images/bg_1.jpg') }})">
        {% include 'home/informations_freelancing.html.twig' %}
    </section>

    <section class="ftco-section contact-section ftco-no-pb" id="contact-section">
        {% include 'home/contact.html.twig' %}
    </section>

    {% include 'footer.html.twig' %}

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}

    </body>
{% endblock %}

